@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
}
.carousel-item img{
    opacity: .35 !important;
}
.slide-caption{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.socail-link-container{
    background-color: #2C3639;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;

}

@media only screen and (max-width:576px) {
    header h1{
        font-size: 24px !important;
    }
    .mobile-font{
        font-size: 15px !important;
       
    }
    .carousel-item img{
       height: 35vh;   
        
    }
}